# Merging the Database Part 1
Once the data have been loaded into three separate tables, which I will here call invoices, items, and reviews, you should merge them into each other. Your two master records are the invoices, which should never change in number, and the reviews, which are similarly fixed. The item data can be combined with those.

If using Pandas, you should use a left join on invoices with items.

This should yield a merged database, invoices_all, which contains the invoices as records and includes information about each item sold.

In [35]:
import pandas as pd

df_item = pd.read_csv('data_code/item.csv')
df_invoice = pd.read_csv('data_code/invoice.csv')
df_review = pd.read_csv('data_code/reviews_df.csv')

In [39]:
df_review.head()

   Review_id  Customer_id    Invoice_id  Rating
0      10631         2584  S09611900003     1.0
1      41318         9650  S16490800006     4.0
2        422         4080  S30092800002     2.0
3      46477         1468  S22572400028     1.0
4      49744         5053  S26103700065     3.0

In [40]:
df_review.sample(n=10)

       Review_id  Customer_id       Invoice_id  Rating
41711      20459         3754     S30724800008     2.0
5303       28794         1895     S28494900022     1.0
38117      30701         2433     S32990200061     2.0
4134       22535         1090     S27675600015     4.0
16111      41608         1380     S20509900045     4.0
24015      22586         7454  INV-05915600035     3.0
1780       11300         8145     S16219100010     3.0
40315      46494         5763  INV-04595400105     2.0
10308       5629         1986     S24482700015     3.0
17414      18344         1903     S12337400119     4.0

In [41]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Review_id    50000 non-null  int64
 1   Customer_id  50000 non-null  int64
 2   Invoice_id   50000 non-null  object
 3   Rating       50000 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.5+ MB

In [42]:
df_item.head()

,Item_id,Item_Description,Category,Pack,Bottle_Volume_ml,Bottle_Cost,Bottle_Retail_Price
0,101,Kanna's Grapefruit Soda,Grapefruit Soda,6,750.0,4.32,6.48
1,102,Alphonse's Fruit Punch,Fruit Punch,6,800.0,3.33,5.00
2,103,Yummy Surstromming Juice,NaN,1,750.0,10.30,20.10
3,107,Tamaki's Watermelon Cream,Cream Soda,6,750.0,4.44,6.66
4,108,Kaori's Grapefruit Soda,Grapefruit Soda,6,750.0,3.12,4.68

In [43]:
df_item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4166 entries, 0 to 4165
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Item_id              4166 non-null   int64
 1   Item_Description     4166 non-null   object
 2   Category             4162 non-null   object
 3   Pack                 4166 non-null   int64
 4   Bottle_Volume_ml     4166 non-null   float64
 5   Bottle_Cost          4166 non-null   float64
 6   Bottle_Retail_Price  4163 non-null   float64
dtypes: float64(3), int64(2), object(2)
memory usage: 228.0+ KB

In [44]:
df_invoice.head()

,Invoice_id,Date,Item_id,Vendor_id,Vendor_Name,Store_id,Store_Name,Address,City_Name,Zip_Code,County_id,County_Name,Bottles_Sold
0,INV-00013400001,2016-08-29,35918,297,Katou Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1
1,INV-00013400002,2016-08-29,23828,297,Katou Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1
2,INV-00013400003,2016-08-29,36908,300,Katsuragi Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1
3,INV-00013400004,2016-08-29,34359,35,Archer Inc.,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,8
4,INV-00013400005,2016-08-29,36903,300,Katsuragi Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1

In [45]:
df_invoice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930508 entries, 0 to 930507
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Invoice_id    930508 non-null  object
 1   Date          930508 non-null  object
 2   Item_id       930508 non-null  int64
 3   Vendor_id     930508 non-null  int64
 4   Vendor_Name   930508 non-null  object
 5   Store_id      930508 non-null  int64
 6   Store_Name    930508 non-null  object
 7   Address       930508 non-null  object
 8   City_Name     930508 non-null  object
 9   Zip_Code      930508 non-null  int64
 10  County_id     930508 non-null  int64
 11  County_Name   930508 non-null  object
 12  Bottles_Sold  930508 non-null  int64
dtypes: int64(6), object(7)
memory usage: 92.3+ MB

In [46]:
df_invoices_all= pd.merge(df_invoice, df_item, on = 'Item_id', how ='left')
df_invoices_all.head()

,Invoice_id,Date,Item_id,Vendor_id,Vendor_Name,Store_id,Store_Name,Address,City_Name,Zip_Code,County_id,County_Name,Bottles_Sold,Item_Description,Category,Pack,Bottle_Volume_ml,Bottle_Cost,Bottle_Retail_Price
0,INV-00013400001,2016-08-29,35918,297,Katou Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1,Haruko's Family Secret Black Cherry,Cherry Soda,6,1750.0,2.51,3.76
1,INV-00013400002,2016-08-29,23828,297,Katou Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1,Archer's Cream Soda,Cream Soda,6,1750.0,2.54,3.81
2,INV-00013400003,2016-08-29,36908,300,Katsuragi Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1,Joutarou's Red Pop,Cherry Soda,6,1750.0,2.55,3.83
3,INV-00013400004,2016-08-29,34359,35,Archer Inc.,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,8,Roy's Wild Cherry,Cherry Soda,12,200.0,2.18,3.27
4,INV-00013400005,2016-08-29,36903,300,Katsuragi Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1,Hisoka's Wild Cherry,Cherry Soda,48,200.0,1.66,2.49

In [47]:
df_invoices_all.tail()

,Invoice_id,Date,Item_id,Vendor_id,Vendor_Name,Store_id,Store_Name,Address,City_Name,Zip_Code,County_id,County_Name,Bottles_Sold,Item_Description,Category,Pack,Bottle_Volume_ml,Bottle_Cost,Bottle_Retail_Price
930503,S34122500013,2016-08-25,68031,260,Inuyasha Brands,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,1,Deishuu's Craft Root Beer,Root Beer,4,1000.0,5.06,7.59
930504,S34122500014,2016-08-25,75212,322,Koizumi Group,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,6,Conan's Plum and Ginger,Ginger Ale,6,500.0,2.20,3.30
930505,S34122500015,2016-08-25,75224,322,Koizumi Group,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,6,Daiki's Plum and Ginger,Ginger Ale,6,500.0,2.18,3.27
930506,S34122500016,2016-08-25,36901,300,Katsuragi Company,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,6,Hisoka's Red Pop,Cherry Soda,6,500.0,2.16,3.24
930507,S34122500017,2016-08-25,86692,85,Ayuzawa Corporation,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,12,Kosaki's Watermelon Cream,Cream Soda,12,750.0,3.62,5.43

In [48]:
df_invoices_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 930508 entries, 0 to 930507
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Invoice_id           930508 non-null  object
 1   Date                 930508 non-null  object
 2   Item_id              930508 non-null  int64
 3   Vendor_id            930508 non-null  int64
 4   Vendor_Name          930508 non-null  object
 5   Store_id             930508 non-null  int64
 6   Store_Name           930508 non-null  object
 7   Address              930508 non-null  object
 8   City_Name            930508 non-null  object
 9   Zip_Code             930508 non-null  int64
 10  County_id            930508 non-null  int64
 11  County_Name          930508 non-null  object
 12  Bottles_Sold         930508 non-null  int64
 13  Item_Description     930508 non-null  object
 14  Category             930483 non-null  object
 15  Pack                 930508 non-null  int64
 16  Bottle_Volume_ml     930508 non-null  float64
 17  Bottle_Cost          930508 non-null  float64
 18  Bottle_Retail_Price  930190 non-null  float64
dtypes: float64(3), int64(7), object(9)
memory usage: 142.0+ MB

In [49]:
df_invoices_all.sample(n=15)

,Invoice_id,Date,Item_id,Vendor_id,Vendor_Name,Store_id,Store_Name,Address,City_Name,Zip_Code,County_id,County_Name,Bottles_Sold,Item_Description,Category,Pack,Bottle_Volume_ml,Bottle_Cost,Bottle_Retail_Price
506309,S16084700042,2013-12-04,36908,300,Katsuragi Company,2637,Hy-Vee #5 / Davenport,2351 W LOCUST,DAVENPORT,52804,82,Scott,12,Joutarou's Red Pop,Cherry Soda,6,1750.0,2.55,3.83
863077,S31504800027,2016-03-30,36901,300,Katsuragi Company,3715,Kimberly Mart / Davenport,1714 E KIMBERLY RD,DAVENPORT,52807,82,Scott,3,Hisoka's Red Pop,Cherry Soda,6,500.0,2.16,3.24
334407,S08282800001,2012-10-15,1012,420,Michaelis Inc.,2621,Hy-Vee Food Store #3 / Sioux City,3301 GORDON DR,SIOUX CITY,51105,97,Woodbury,2,Gilgamesh's Fruit Punch,Fruit Punch,6,750.0,4.31,6.46
51400,INV-02306800009,2016-12-21,4616,260,Inuyasha Brands,2625,Hy-Vee Convenience Store #2,3301 W KIMBERLY RD,DAVENPORT,52804,82,Scott,1,Osamu's Cream Soda,Cream Soda,6,750.0,7.07,10.61
610416,S20731100010,2014-08-20,11786,115,Deviluke Inc.,4200,Fareway Stores #019 / Sioux City,4016 INDIAN HILLS DR,SIOUX CITY,51108,97,Woodbury,12,Meliodas's Watermelon Cream,Cream Soda,12,750.0,2.24,3.36
538440,S17496500092,2014-02-19,42166,260,Inuyasha Brands,2614,Hy-Vee #3 Food and Drugstore,1823 E KIMBERLY RD,DAVENPORT,52807,82,Scott,3,Roy's Energy,Energy Drink,12,750.0,2.91,4.36
377432,S10123200015,2013-01-21,65204,300,Katsuragi Company,4452,Select Mart Gordon Dr,2825 GORDON DR,SIOUX CITY,51105,97,Woodbury,4,Chopper's Craft Root Beer,Root Beer,6,500.0,2.43,3.65
8472,INV-00333000044,2016-09-15,20246,65,Ayanami Brands,2635,Hy-Vee #4 / Davenport,4064 E 53RD ST,DAVENPORT,52807,82,Scott,1,Hisoka's Cream Soda,Cream Soda,12,750.0,2.13,3.20
143303,INV-06178800110,2017-07-19,19477,65,Ayanami Brands,2625,Hy-Vee Convenience Store #2,3301 W KIMBERLY RD,DAVENPORT,52804,82,Scott,1,Himeko's Watermelon Cream,Cream Soda,12,1000.0,4.61,6.92
804879,S29161100152,2015-11-18,41857,380,Le Company,2625,Hy-Vee Convenience Store #2,3301 W KIMBERLY RD,DAVENPORT,52804,82,Scott,2,Meiko's Red Pop,Cherry Soda,6,500.0,2.19,3.29
160531,INV-06860500030,2017-08-24,37991,260,Inuyasha Brands,5029,The Durg Stop LLC,"211, W 53RD ST",DAVENPORT,52806,82,Scott,1,Ippo's Red Pop,Cherry Soda,12,500.0,2.55,3.82
694104,S24384500034,2015-03-05,27668,306,Kirigaya Co.,2567,Hy-Vee Drugstore / Davenport,2200 WEST KIMBERLY,DAVENPORT,52806,82,Scott,36,Daiki's Vanilla Cream Soda,Cream Soda,12,375.0,2.78,4.17
25411,INV-01199800018,2016-10-26,19063,65,Ayanami Brands,4452,Select Mart Gordon Dr,2825 GORDON DR,SIOUX CITY,51105,97,Woodbury,8,Haruko's Cream Soda,Cream Soda,48,200.0,1.90,2.85
145837,INV-06251200056,2017-07-24,36307,434,Minami LLC,3917,Smokin' Joe's #2 Food and Durg,1606 W LOCUST ST,DAVENPORT,52804,82,Scott,1,Himeko's Black Cherry,Cherry Soda,12,1000.0,2.06,3.09
711678,S25139400030,2015-04-20,86884,85,Ayuzawa Corporation,4644,Kwik Shop #588 / Davenport,"1136, E LOCUST ST",DAVENPORT,52803,82,Scott,10,Shouyou's Craft Root Beer,Root Beer,24,375.0,2.14,3.21

In [50]:
df_invoices_all.to_csv('data_code/invoices_all.csv',index = False)

In [51]:
invoices_all = pd.read_csv('data_code/invoices_all.csv')

In [53]:
invoices_all.tail()

,Invoice_id,Date,Item_id,Vendor_id,Vendor_Name,Store_id,Store_Name,Address,City_Name,Zip_Code,County_id,County_Name,Bottles_Sold,Item_Description,Category,Pack,Bottle_Volume_ml,Bottle_Cost,Bottle_Retail_Price
930503,S34122500013,2016-08-25,68031,260,Inuyasha Brands,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,1,Deishuu's Craft Root Beer,Root Beer,4,1000.0,5.06,7.59
930504,S34122500014,2016-08-25,75212,322,Koizumi Group,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,6,Conan's Plum and Ginger,Ginger Ale,6,500.0,2.20,3.30
930505,S34122500015,2016-08-25,75224,322,Koizumi Group,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,6,Daiki's Plum and Ginger,Ginger Ale,6,500.0,2.18,3.27
930506,S34122500016,2016-08-25,36901,300,Katsuragi Company,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,6,Hisoka's Red Pop,Cherry Soda,6,500.0,2.16,3.24
930507,S34122500017,2016-08-25,86692,85,Ayuzawa Corporation,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,12,Kosaki's Watermelon Cream,Cream Soda,12,750.0,3.62,5.43

# Merging the Database Part 2
Do the same for the reviews with the item data in reviews_all, except that you should left join on reviews with invoices, as not all invoice purchases generated reviews. You should verify that you can obtain item IDs and rating numbers from the same database, as that will be necessary for the recommendation engine step below.

In [54]:
df_reviews_all= pd.merge(invoices_all, df_review, on = 'Invoice_id', how ='left')

In [55]:
df_reviews_all.sample(n=5)

,Invoice_id,Date,Item_id,Vendor_id,Vendor_Name,Store_id,Store_Name,Address,City_Name,Zip_Code,...,Bottles_Sold,Item_Description,Category,Pack,Bottle_Volume_ml,Bottle_Cost,Bottle_Retail_Price,Review_id,Customer_id,Rating
99875,INV-04329900060,2017-04-12,77632,260,Inuyasha Brands,2594,Hy-Vee Food Store / Sioux City,4500 SERGEANT ROAD,SIOUX CITY,51106,...,2,Motoko's Gourmet Black Cherry Soda,Cherry Soda,12,750.0,2.66,3.99,NaN,NaN,NaN
802792,S29041000044,2015-11-12,43128,35,Archer Inc.,2635,Hy-Vee #4 / Davenport,4064 E 53RD ST,DAVENPORT,52807,...,6,Alucard's Energy Booster,Energy Drink,6,1750.0,3.57,5.35,NaN,NaN,NaN
467456,S14181400070,2013-08-28,67556,65,Ayanami Brands,2621,Hy-Vee Food Store #3 / Sioux City,3301 GORDON DR,SIOUX CITY,51105,...,12,Asuna's Craft Root Beer,Root Beer,12,750.0,2.39,3.58,NaN,NaN,NaN
39923,INV-01775300022,2016-11-23,37418,260,Inuyasha Brands,3757,Wal-Mart 3590 / Sioux City,3101 FLOYD BLVD,SIOUX CITY,51108,...,1,Ichigo's Family Secret Black Cherry,Cherry Soda,6,1750.0,2.70,4.05,NaN,NaN,NaN
427143,S12301000024,2013-05-20,45886,240,Howl INC.,4201,Fareway Stores #022 / Sioux City,4040 WAR EAGLE DR,SIOUX CITY,51109,...,6,Maki's Energy Booster,Energy Drink,12,750.0,2.64,4.12,15786.0,5863.0,3.0

In [56]:
df_reviews_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 931812 entries, 0 to 931811
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Invoice_id           931812 non-null  object
 1   Date                 931812 non-null  object
 2   Item_id              931812 non-null  int64
 3   Vendor_id            931812 non-null  int64
 4   Vendor_Name          931812 non-null  object
 5   Store_id             931812 non-null  int64
 6   Store_Name           931812 non-null  object
 7   Address              931812 non-null  object
 8   City_Name            931812 non-null  object
 9   Zip_Code             931812 non-null  int64
 10  County_id            931812 non-null  int64
 11  County_Name          931812 non-null  object
 12  Bottles_Sold         931812 non-null  int64
 13  Item_Description     931812 non-null  object
 14  Category             931787 non-null  object
 15  Pack                 931812 non-null  int64
 16  Bottle_Volume_ml     931812 non-null  float64
 17  Bottle_Cost          931812 non-null  float64
 18  Bottle_Retail_Price  931494 non-null  float64
 19  Review_id            50000 non-null   float64
 20  Customer_id          50000 non-null   float64
 21  Rating               50000 non-null   float64
dtypes: float64(6), int64(7), object(9)
memory usage: 163.5+ MB

In [58]:
df_reviews_all['Rating'].sample(n=20)

495019    NaN
784343    NaN
559464    NaN
155660    NaN
419989    NaN
701658    NaN
792978    1.0
875939    NaN
667922    NaN
751212    NaN
28916     NaN
385184    NaN
581688    NaN
330437    NaN
334587    NaN
534790    NaN
452527    NaN
772027    NaN
114084    NaN
686316    NaN
Name: Rating, dtype: float64

In [30]:
df_reviews_all['Item_id'].sample(n=20)

359597    37993
54098     53206
724887    43333
291239    36886
463583     8827
342300     5347
730356    78616
859397    11296
753151    11788
521392    17956
693280    86669
368445    42716
82103     28233
826021    88294
70584     40052
446390    28233
678228    25608
396974    47786
360230    74772
126885    29712
Name: Item_id, dtype: int64

In [59]:
df_reviews_all.to_csv('data_code/data_all.csv',index = False)

In [60]:
df_data_all = pd.read_csv('data_code/data_all.csv')
df_data_all.sample(n=10)

,Invoice_id,Date,Item_id,Vendor_id,Vendor_Name,Store_id,Store_Name,Address,City_Name,Zip_Code,...,Bottles_Sold,Item_Description,Category,Pack,Bottle_Volume_ml,Bottle_Cost,Bottle_Retail_Price,Review_id,Customer_id,Rating
365347,S09611700037,2012-12-20,19068,65,Ayanami Brands,3540,Super Target T-0533 / Davenport,5225 ELMORE AVE,DAVENPORT,52807,...,6,Haruko's Watermelon Cream,Cream Soda,6,1750.0,4.09,6.13,NaN,NaN,NaN
136754,INV-05912200167,2017-07-05,52595,205,Harima Co.,2621,Hy-Vee Food Store #3 / Sioux City,3301 GORDON DR,SIOUX CITY,51105,...,3,Haruhi's Orange Soda,Orange Soda,12,750.0,2.28,3.42,NaN,NaN,NaN
332663,S08185500008,2012-10-09,24457,65,Ayanami Brands,3354,Sam's Club 8238 / Davenport,3845 ELMORE AVE.,DAVENPORT,52807,...,24,Armin's Watermelon Cream,Cream Soda,12,1000.0,2.50,3.75,NaN,NaN,NaN
883902,S32263000158,2016-05-11,45277,434,Minami LLC,2625,Hy-Vee Convenience Store #2,3301 W KIMBERLY RD,DAVENPORT,52804,...,24,Dante's Energy Booster,Energy Drink,12,1000.0,2.11,3.16,NaN,NaN,NaN
432077,S12523900025,2013-05-31,87937,434,Minami LLC,2625,Hy-Vee Convenience Store #2,3301 W KIMBERLY RD,DAVENPORT,52804,...,24,Ginko's Kola,Cola,12,1000.0,2.44,3.66,NaN,NaN,NaN
359845,S09426000008,2012-12-11,68036,260,Inuyasha Brands,2614,Hy-Vee #3 Food and Drugstore,1823 E KIMBERLY RD,DAVENPORT,52807,...,36,Deishuu's Root Beer,Root Beer,12,750.0,3.37,5.06,49194.0,3585.0,5.0
687425,S24105500123,2015-02-18,41693,380,Le Company,2621,Hy-Vee Food Store #3 / Sioux City,3301 GORDON DR,SIOUX CITY,51105,...,12,Mayuri's Family Secret Black Cherry,Cherry Soda,12,750.0,2.42,3.63,NaN,NaN,NaN
61905,INV-02663200121,2017-01-11,88294,410,Megumin Company,2614,Hy-Vee #3 Food and Drugstore,1823 E KIMBERLY RD,DAVENPORT,52807,...,1,Griffith's Cola,Cola,12,375.0,3.47,5.20,NaN,NaN,NaN
484957,S15028700045,2013-10-09,12407,55,Arlert Company,3986,Siouxland Beverage,1203 5 ST,SIOUX CITY,51101,...,2,Mikasa's Vanilla Cream Soda,Cream Soda,12,1000.0,2.25,3.37,NaN,NaN,NaN
316283,S07417200156,2012-08-29,82613,65,Ayanami Brands,2594,Hy-Vee Food Store / Sioux City,4500 SERGEANT ROAD,SIOUX CITY,51106,...,1,Kyon's Root Beer,Root Beer,24,375.0,1.93,2.90,NaN,NaN,NaN